* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    font-family: Verdana;
}

header {
    background-image: -webkit-linear-gradient(#2196F3 60%, #3D5AFE, #0D47A1);
    width: 100%;
    height: 200px;
    /* padding-top: 40px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 25px;
}

h2 {
    font-size: 13px;
    margin-top: 5px;
}

h1,
h2 {
    color: white;
}

span.material-icons {
    margin-top: 203px;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    font-size: 64px;
    background-color: white;
    color: #2196F3;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    position: absolute;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

fieldset {
    margin-top: 75px;
    height: 350px;
    width: 400px;
    padding: 20px 40px 20px 40px;
}

.display_block,
label {
    display: block;
}

input {
    height: 25px;
    width: 100%;
}

.submit_style {
    border-style: none;
    box-shadow: #0D47A1;
    height: 35px;
    margin-top: 10px;
    text-decoration: none;
    border-radius: 10%;
    background-color: #2196F3;
    color: white;
    box-shadow: 0 4px #3D5AFE;
}

@media screen and (max-width: 800px) {
    h1,
    h2 {
        margin: 0;
        text-align: center;
    }
    fieldset {
        width: 90vw;
    }
}