* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

* {
    padding: 0;
    margin: 0;
    border: 0;
}

:root {
    --cor-background-body: rgb(236, 239, 241);
}

body {
    background-color: var(--cor-background-body);
}

div#forma {
    margin: 50px auto;
    width: 100px;
    height: 100px;
    border: 2px solid brown;
    background-color: lightsalmon;
    padding: 10px;
    box-shadow: 2px 2px rgb(7, 78, 90);
}


/* div#forma>#interna {
    width: 80px;
    height: 80px;
    border: 1px solid red;
    background-color: var(--cor-background-body);
} */