* {
    margin: 0;
    padding: 0;
    border: 0;
}

header {
    background-color: #B71C1C;
    border-bottom: 4px solid black;
    width: 100%;
    height: 80%;
}

h1 {
    color: white;
    padding-left: 10%;
    padding-top: 1%;
    font-style: arial;
}