* {
    padding: 0;
    margin: 0;
    width: 80%;
    height: auto;
    box-sizing: border-box;
}

section#formualri {
    margin: 30px auto;
    padding: 5px;
}

form {
    width: 100%;
    height: auto;
    padding: 2px;
}

label {
    display: block;
    width: 100%;
    height: auto;
    padding: 2px
}

.txt {
    width: 100%;
    height: 30px;
}

fieldset {
    padding: 2px;
    border: none;
}

section {
    border: 2px solid black;
}

body {
    margin: 10px auto;
}