* {
    padding: 0;
    margin: 0;
}

body {
    background-color: dodgerblue;
}

#topLeft {
    width: 60px;
    height: 60px;
    position: absolute;
    top: 0;
    background-color: goldenrod;
}

#bottomLeft {
    width: 60px;
    height: 60px;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: goldenrod;
}

#topRight {
    width: 60px;
    height: 60px;
    position: absolute;
    top: 0;
    right: 0;
    background-color: goldenrod;
}

#bottomRight {
    width: 60px;
    height: 60px;
    ;
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: goldenrod;
}