* {
    margin: 0;
    padding: 0;
}

div#pai {
    width: 100px;
    height: auto;
    background-color: cornsilk;
}


/* div#filha {
    width: 100px;
    height: 100px;
    background-color: darkkhaki;
    position: absolute;
    top: 0;
} */

div.filhas {
    width: 80px;
    height: 80px;
    background-color: darkmagenta;
    margin: 5px;
}

#corunica {
    background-color: darkred;
    position: sticky;
    top: 30px;
}