* {
    padding: 0;
    border: 0;
    margin: 0;
}

div {
    height: 150px;
    width: 150px;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    background-color: black;
    cursor: pointer;
}

div:hover {
    height: 200px;
    width: 200px;
    background-color: red;
}