* {
    margin: 0;
    border: 0;
}

header {
    background-color: #5E35B1;
    border-bottom: 4px solid black;
    height: 70px;
    width: 100%;
}

h1 {
    color: white;
    width: 80%;
    height: 50px;
    padding: 20px;
    margin: 0 auto;
}