* {
    margin: 0;
    padding: 0;
    bottom: 0;
}

div {
    width: 300px;
    height: 300px;
    border: 1px solid black;
    background-color: rgb(56, 142, 60);
}

#segundaDiv {
    background: rgba(56, 142, 60, 0.5);
}