* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --font-principal: helvetica;
    --cor-font-pricipal: white;
    --cor-background-padrao: #212121;
    --cor-hover-padrão: #f9a825;
}

header {
    background-color: var(--cor-background-padrao);
    width: 100vw;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    color: var(--cor-font-pricipal);
    font-family: var(--font-principal);
    width: 60%;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    margin-left: 150px;
    /* border: 1px solid red; */
}

a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: var(--cor-font-pricipal);
    margin-left: 20px;
    width: 90px;
    height: 30px;
}

a.style:hover {
    background-color: red;
}

a.styleHome {
    border-radius: 2em;
    background-color: var(--cor-hover-padrão);
}

main {
    width: 100%;
    height: 84.8vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

section {
    width: 60%;
    height: 40%;
    border: 2px solid rgb(11, 164, 202);
    display: flex;
    padding: 20px;
}

#div_lorem_main {
    width: 50%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    font-family: var(--font-principal);
    border-right: 3px dotted var(--cor-background-padrao);
}

#div_input {
    width: 50%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

#div_input .input_email_style {
    height: 4vh;
    width: 250px;
}

#div_input .input_submit_style {
    height: 4vh;
}

footer {
    height: 80px;
    width: 100vw;
    background-color: var(--cor-background-padrao);
    font-family: var(--font-principal);
    color: var(--cor-font-pricipal);
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 800px) {
    header,
    header #ul_header {
        justify-content: space-evenly;
    }
    a {
        margin: auto;
    }
    h1 {
        display: flex;
        justify-content: center;
        margin: auto;
    }
    section {
        width: 90vw;
        height: auto;
        padding: auto;
    }
    #div_input,
    #div_input .input_email_style {
        width: 80%;
    }
    #div_input {
        padding: 4px;
    }
    #div_input .input_submit_style {
        width: auto;
    }
}

@media screen and (max-width: 417px) {
    #div_input {
        flex-direction: column;
    }
    #div_input .input_submit_style {
        width: 80%;
        margin-top: 10px;
    }
}