* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

article#el-pai {
    width: 100vw;
    height: 100vh;
    padding: 5px;
    background-color: tomato;
    font-size: 20px;
}

article#el-pai>#el-filho {
    width: 100%;
    height: auto;
    background-color: coral;
    font-size: 2em;
}