* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main,
header,
footer {
    width: 80%;
    background-color: darkgoldenrod;
    margin: 10px auto 10px auto;
}

main {
    height: auto;
}

header {
    height: 60px;
}

footer {
    height: auto;
}

.ajusteTamanho {
    height: 40vh;
    background-color: darkolivegreen;
}

.content-card>div,
footer>div {
    width: 48%;
    height: 200px;
    background-color: darkred;
    justify-content: space-between;
}

.flex {
    display: flex;
}

.spacebt {
    justify-content: space-between;
}

section {
    margin: 10px 0 10px 0;
}

@media screen and (max-width: 700px) {
    body {
        background-color: black;
    }
    section {
        height: auto;
        flex-direction: column;
    }
    section.content-card>div,
    footer>div {
        width: 100%;
        margin-bottom: 5px;
    }
}