    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    /* body {
        background-color: lightseagreen;
        border: 2px solid black;
    } */
    
    main {
        background-color: lightseagreen;
        border: 5px solid black;
        height: 100vh;
    }
    
    div {
        background-color: orange;
        width: 100%;
        height: 100px;
        border: 1px solid lightseagreen;
    }
    
    #div2 {
        background-color: orange;
        width: 100%;
        height: 200px;
        margin-top: 10px;
        border: 1px solid lightseagreen;
    }
    
    .divDupla {
        background-color: orange;
        width: 100%;
        height: 125px;
        border: 1px solid lightseagreen;
    }
    
    #section1 {
        display: flex;
        margin-top: 20px;
    }
    
    #section2 {
        display: flex;
        width: 100%;
        height: 300px;
        background-color: orange;
        align-items: center;
        margin-top: 20px;
        padding: 0px 5px 0px 5px;
        border: 1px solid lightseagreen;
    }
    
    .divGreen {
        width: 100%;
        height: 150px;
        background-color: green;
    }
    
    .marginLeft {
        margin-left: 2px;
    }
    
    .marginRight {
        margin-right: 2px;
    }