* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    font-size: 1.2rem;
    font-family: var(--font-padrao);
    color: var(--cor-padrao-fonte);
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.icons-list {
    margin-right: 5px;
    font-size: 1.5rem;
}

a.go:hover {
    background-color: var(--font-cor-titulo);
    color: white;
    transition: 1s;
}

:root {
    font-size: 100%;
    --cor-border-geral: rgb(199, 199, 199);
    --cor-padrao-fonte: rgb(95, 95, 95);
    --font-padrao: 'Bree Serif', serif;
    --font-cor-titulo: darkred;
}

header,
main,
footer {
    height: 80%;
    margin: auto;
}

header#top-header {
    border-bottom: 1px solid var(--cor-border-geral);
}

.flex {
    display: flex;
}

header#top-header h1,
header#top-header nav {
    width: 50%;
}

header#top-header h1 {
    color: var(--font-cor-titulo);
    align-items: center;
    font-family: var(--font-padrao);
    font-size: clamp(o.8rem, 3vh, 3rem)
}


/* header#top-header nav {
    background-color: cadetblue;
} */

nav#menu ul#list-menu li.item {
    width: 130px;
    justify-content: center;
    align-items: center;
}

header#top-header nav ul#list-menu {
    width: 100%;
    justify-content: flex-end;
}

section#section-cards {
    width: 100%;
    margin-top: 20px;
}

section#section-cards>div.card {
    width: 320px;
    height: 400px;
    border: 1px solid red;
}

section#section-cards div.card figure.card-img-pizza {
    width: 100%;
    padding: 2px;
}

section#section-cards div.card figure.card-img-pizza img.img-pizza {
    width: 100%;
}

section div form.formTamanhoPizza {
    align-items: center;
    justify-content: center;
}

section div form.formTamanhoPizza label {
    width: 30px;
    font-size: 14px;
    font-family: verdana;
    flex-direction: column;
    align-items: center;
    padding: 2px;
    cursor: pointer;
}

h2.sub-titulo-pizza {
    font-size: 1.2rem;
    font-family: verdana;
    text-align: center;
    padding: 10px 0px 10px 0;
}

footer {
    height: 60px;
    border-top: var(--cor-border-geral);
    margin-top: 10px;
    background-color: yellow;
}